html,
body,
#cover {
    
    height: 100%;
    
    
}



#cover {
    background: url(../images/mainbg.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover; /*chrome için*/
    -moz-background-size: cover;
    -o-background-size: cover; 
        
}






.fixed-top{
    
    max-width: 1140px;
    margin: 20px auto;
    transition: 0.2s all linear;
}


.girismetni h1{
    margin-top:23%;
    font-family: 'Noto Serif', serif;
    font-size:80px;
    font-weight: 600;
    font-style:italic;
    color:#e68a00;
    margin-bottom:20px;
    
    
}

.girismetni h2{
    font-family: 'Montserrat', sans-serif;
    font-size:60px;
    font-weight: 700;
    color:#F4F4F4;
    margin-bottom:20px;
    
}

.navbar ul.navbar-nav li.nav-item a:hover.nav-link {
 
    color:#E19B24;
    
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
 
    color:#F0EFEE;
    font-size:17px;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

.girismetni .btn{ 
    border-style:none;
    background-color:#282839;
    color:#F4F4F4;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:20px;
    padding:10px 30px;
    border-radius:5px;
    
}

.girismetni .btn-primary:hover{
    
    background-color:#f4f4f4;
    color:#282839;
    border:none;
       
}




/*HIZMETLER SECTIONU*/

#hizmetler{
    
    padding:120px 0;
    background-color: #282839;
       
}

.hizmetler-top h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:40px;
    color:#F4F4F4;
   
    
}

.hizmetler-top p{
    font-family: 'Noto Serif', serif;
    font-size:16px;
    font-style:italic;
    color:#e9e8e8;
    margin-bottom:75px
    
}

.daire{
    /*ben şuan burda normal bir şekilde dikdörtgen border çektim etrafına peki tasarımda olduğu gibi nasıl daire yapacağım bunu */
    border:3px solid #E19B24;
    width:100px; /*dairenin boyunu ölçtüm piksel olarak photoshopta kafama göre değil bunlar */
    height:100px;
    margin:0 auto; /*sağdan soldan margin ortala yukardan aşağıdan bir şey istemiyorum dedim */ 
    border-radius:200px;
 
}

.hizmetler-icerik i{
    
 color:#E19B24;
 /*çemberlerin içindeki ikonların renklerini değiştirdik ama şimdi de bunları ortalamamız gerekiyo çemberin tam ortasına*/
 line-height:100px;
    
}

.hizmetler-icerik h4{
 margin-top:24px;
 font-family: 'Montserrat', sans-serif;
 font-weight:700;
 font-size:19px;
 color:#F4F4F4;
   

}

.hizmetler-icerik p{
font-family: 'Roboto Slab', serif;
font-weight:400;
font-size:15px;
margin-top:15px;
color:#e9e8e8;
   

}


/*PORTFOLIO SECTION*/

#portfolio {
    background-color:#F4F4F4;
    padding-top:120px;
    padding-bottom:70px; /*70px burda*/

}


.portfolio-top h3{
    
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:40px;
    color:#282839;
    
}

.portfolio-top p{
    font-family: 'Noto Serif', serif;
    font-size:16px;
    font-style:italic;
    color:#32324b;
    margin-bottom:75px
}

/*buraya kadar hizmetler ile aynı kodları tekrar ettik şimdi cardların etrafında bir border var onlardan kurtulmaya çalışalım*/

.card{
    border-style: none;
       
}

.portfolio-content .row{
    
    margin-bottom:50px; /*50 piksel de burdan geldi böylece eşitlenmiş oldu marginler*/
    
}

.portfolio-content .card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:18px;

}

.portfolio-content .card-text{
    font-family: 'Noto Serif', serif;
    font-size:14px;
    font-style:italic;

}


/*HAKKIMIZDA SECTION*/

#aboutUs{
    padding-top:120px;
    padding-bottom:30px;
    background-color: #282839;
        
    
}

.aboutUs-top h3{
    
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:40px;
    color:#F4F4F4;
}

.aboutUs-top p{
    font-family: 'Noto Serif', serif;
    font-size:16px;
    font-style:italic;
    color:#e9e8e8;
    margin-bottom:75px
}

.aboutUs-content .row{
    
    margin-bottom: 90px; 
    
}

.aboutUs-content h4{
    
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:18px;
    color:#F4F4F4;
    
}

.aboutUs-content p{
    
    font-family: 'Roboto Slab', serif;
    font-size:14px;
    color:#e9e8e8;
}


/*aboutusContent classı oluşmadan önce benim aradaki çizgiyi oluşturmam gerek bu yüzden before etiketi kullanalım bakalım */

.aboutUs-content {
    
    position:relative;
}

.aboutUs-content::before{
    
    position:absolute;
    top: 0;
    bottom:0;
    content: "";
    width: 4px;
    background-color:#f1f1f1;
    left:50%;
    margin-left: -2px;
}

/* about-circle classından önce de bir daire oluşturmam lazım about kısmındaki en son sarı daire için */

.about-circle{
    
    position:relative;
    text-align: center;
}

.about-circle::before{
    top:0;
    bottom:0;
    position:absolute;
    content: "";
    background-color:#E19B24;
    width: 176px;
    height: 176px;
    border-radius: 200px;
    border:7px solid #f1f1f1;
    left:50%;
    margin-left: -91px;
    
}

.about-circle .yellow-text{
    
    position:relative;
    z-index:2;
    padding-top:45px;
    padding-right:10px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:14px;
    color:white;
}


/* TEAM SECTION KODLARI BURADA BAŞLIYOR!!!!!!! */

#takim{
    padding-top: 120px;
    padding-bottom: 70px;
    background-color: #F4F4F4;

}


.takim-top h3{
    
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:40px;
    color:#282839;
    
}

.takim-top p{
    font-family: 'Noto Serif', serif;
    font-size:16px;
    font-style:italic;
    color:#32324b;
    margin-bottom:75px
}

.takim-circle{
    width: 220px;
    height: 220px;
    background-color: black;
    border-radius: 220px;
    margin:0 auto;
    border:6px solid white;
    margin-bottom: 20px;
}

.takim-content h4{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:16px;
    
    
}

.takim-content h5{
    
    font-family: 'Roboto Slab', serif;
    font-weight:400;
    font-size:14px;
    color:#777;
    
}

.social-icons {
    
    list-style-type: none; /* undorered listin yanındaki noktaları kaldırmak için */
     padding:0;
     margin:0;
    
}

.social-icon{
    
    display: inline; /*float left de yapabilirim burada */
    padding-left:5px;
    padding-right:5px; /*sembollerin arasını açmak için */
        
}

.social-icon .fab{
    border:2px solid black;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 26px; /*iconlar tam ortaya yerleşsin diye alttan ve üstten 2 piksel borderı da kattık hesaba*/

}

.takim-paragraf p{
    
    font-family: 'Roboto Slab', serif;
    font-size:16px;
    color:#777;
    margin:50px auto;  
    
}

.takim-circle img{
    width: 100%;
    height: 100%;
    
}

/*CONTACT US SECTIONU BAŞLIYOR!!!!!!!!*/

#contact{
    
    background-color: #1C1A19;
    background-size: cover;
    -webkit-background-size: cover; /*chrome için*/
    -moz-background-size: cover;
    -o-background-size: cover; 
    padding:120px 0;
    
}

.contact-top h3{
    
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:40px;
    color:#F4F4F4;
    
}

.contact-top p{
    font-family: 'Noto Serif', serif;
    font-size:16px;
    font-style:italic;
    color:#e9e8e8;
    margin-bottom:75px
}

#name, #email, #subject{  /*isim text alanı bu idye sahip onu böyle düzenliyorum o yüzden*/
    
    width: 90%;
    height: 50px;
    margin-bottom: 25px;
    border-style: none;
    border-radius: 4px;
    padding-left: 20px;
    margin-left: 5%;
}

textarea{
    width: 90%;
    height:202px;
    border-style:none;
    border-radius:4px;
    padding-left: 20px;
    padding-top:10px;
    margin-left:5%;

}

.golden-form-element{
    
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:14px;
    color:#777;
}

.form-element .btn{
    
    color:#f4f4f4;
    background-color:#282839;
    border-style:none;
    border-radius:5px;
}

.form-element .btn:hover{
    
    color:#282839;
    background-color:#f4f4f4;
    border-style:none;
}



/*FOOTER SECTION BAŞLIYOR!!!!!!!!!!!*/

#footer{
    
    padding: 20px 0;
}

#footer p{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:14px;
    color:#333;
    line-height: 40px;
}

.footer-social
{
    list-style-type: none;
    padding:0;
    margin:0;
    
    
}

.footer-social-icon{
    
    
    display:inline;
    padding-left: 9px;
    padding-right: 9px;
    color:#fff;
}

.footer-social-icon .fab{
    
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color:black;
    line-height: 40px;
   
  
}

.footer-social-icon .fas{
    
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color:black;
    line-height: 40px;
   
  
}

.fixed-top.change-fix-top{
    margin-top: 0;
    background-color:#000;
    max-width: 2000px;
    
    
}


/*MEDIA QUERIES */

@media (max-width: 991px) {
    

#footer p{
    
    
    font-size:11px;
    line-height: 30px;
}

.footer-social-icon{
    
    
    padding-left: 5px;
    padding-right: 5px;

}

.footer-social-icon .fab{
    
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color:black;
    line-height: 30px;
   
  
}

.footer-social-icon .fas{
    
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color:black;
    line-height: 30px;

}
    
.girismetni h1{
    margin-top: 35%;
    font-size:55px;
    margin-bottom: 15px;
    
    
}

.girismetni h2{
    font-size:45px;
    margin-bottom: 15px;    
}
    
.girismetni .btn{ 
    
    font-size:16px;
    
    
  
}
}



@media (max-width: 767px) {
    
    
.navbar-dark .navbar-toggler{
        
        
    border:1px solid #282839;
    outline:none;
    }
    
    
.girismetni h1{
    margin-top:53%;
    font-size:50px;
    margin-bottom:20px;
    
    
}

.girismetni h2{

    font-size:38px;
    margin-bottom:20px;
    
}
    
    
.girismetni .btn{ 
    
    font-size:14px;
    padding:10px 30px;
    
  
}
    
.navbar-collapse{
    background-color: rgb(0,0,0,0.3)
        
    }
    
.card{
    margin-left:10%;
    margin-right: 10%;
    
        
        
    }
    
}



@media (max-width: 575px) { 

.girismetni h1{
   
    margin-top:60%;
    font-size:40px;
    margin-bottom:10px;
    
    
}

.girismetni h2{

    font-size:25px;
    margin-bottom:10px;
    

}
    
.girismetni .btn{ 
    
    font-size:12px;
    
    
  
}

    }















